<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">

    </head>
<body>
<div class="container">
    <div class="card">
        <h1 class="card_title">Voeg game toe</h1>
        <form action="/games" method="POST">
            <div class="input">
                <input type="input" name="name" class="input_field"/>
                <label class="input_label">naam</label>
            </div>
            <div class="input">
                <input type="input" name="category" class="input_field"/>
                <label class="input_label">category</label>
            </div>
            <div class="input">
                <input type="input" name="price" class="input_field"/>
                <label class="input_label">price</label>
            </div>
            <button type="submit" class="card_button">Voeg game toe</button>
        </form>
    </div>
</div>

</body>

</html>